<div class="about-container">
    <div class="about-title">About Us</div>
    <div class="summary-showcase"> <span class="we-are">We are an OKC-based sound design / audio editing company</span> providing dialog touch-ups, vocal production, sound design, sound replacement, and composition services. </div>
    <hr>
    <div class="summary">Find the tone for your content you've been looking for from our professionally trained sound designers, foley artists, and composers. Transport your audience from their world into yours and keep them locked in with a soundscape that will leave an impression with them for years to come. 
        <hr>
        <br>
        Contact us any time, day or night, and we'll have someone ready to help you meet your production's deadlines and goals. <br><br> Additionally, <a href="">learn more about our online platform</a> where you can live chat, leave notes, and bounce ideas from your team to ours in a safe, encrypted way.
        <hr>
        <br>

    </div>
</div>