<div class="landing-page-container">
    <div class="landing-container">
        <div class="landing-title">Your Project</div>
        <div class="landing-item project-info"><div class="landing-item-title">Info</div></div>
        <div class="landing-item messages"><div class="landing-item-title">Discussions</div></div>
        <div class="landing-item project-files"><div class="landing-item-title">Files</div></div>
        <div class="landing-item messages"></div>
        <div class="landing-item messages"></div>
        <div class="landing-item messages"></div>
    </div>
    <div *ngIf="project" class="" style="color: white; text-align: center; font-size: 150%; padding: 1rem; border: 1px solid rgb(61, 61, 61); ">
        {{project}}
        <br><br>
        {{project.contactEmail1}}
    </div>
</div>