.landing-page-container {
    background-color: black;
    height: 110vh;
    overflow: auto;
}

.landing-container {
    // width: 90%;
    // max-width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.header {
    background-color: #191919;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border-radius: 12px;
    margin-top: 3rem;
    padding: 2rem;
}

.landing-title {
    font-size: 250%;
    color: white;
    padding: 2rem;
    text-align: center;
    font-weight: 300;
    display: block;
}

table {
    margin: auto;
    color: white;
    // background-image: linear-gradient(127deg, #00d1ff, #1a5d98);
    border-radius: 10px;
}

th {
    font-size: 200%;
}

.note:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.178);
}

tr {
    padding: 2px;
}

td {
    font-size: 150%;
    font-weight: 300;
}

.td-data {
    padding-left: 30px;
}

.note {
    border-top: 1px solid black;
    padding: 10px;
}

.note-date {
    color: black;
    font-size: 90%;
}

.edit-info-button {
    margin: auto;
    display: block;
    height: 20px;
    line-height: 1px;
}

.project-bracket-data {
    font-size: 150%;
}

.landing-item {
    background-image: linear-gradient(127deg, #00d1ff, #1a5d98);
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
    width: 25%;
}

.landing-item-title {
    font-size: 175%;
    font-weight: 300;
}

.project-info {
    padding: 1rem 3rem;
    font-size: 115%;
    font-weight: 300;
    line-height: 1.6;
}

.add-note-button {
    background-color: rgba(255, 255, 255, 0.116);
    margin: auto;
    display: block;
    margin-top: 15px;
}