<div class="landing-page-container">
    <div class="landing-container">
        <div class="landing-title">Your Project</div>
        <div class="landing-item project-info"><div class="landing-item-title">Info</div></div>
        <div class="landing-item messages"><div class="landing-item-title">Discussions</div></div>
        <div class="landing-item project-files"><div class="landing-item-title">Files</div></div>
        <div class="landing-item messages"></div>
        <div class="landing-item messages"></div>
        <div class="landing-item messages"></div>
    </div>
</div>