<div class="footer-container">
    <div class="footer-column">
        <div class="footer-header contact">Contact</div>
        <div class="footer-item">9186986098</div>
        <div class="footer-item">nick@waveform-arts.com</div>
        <div class="footer-item" [routerLink]="['/contact']">message now</div>
    </div>
    <div class="footer-column">
        <div class="footer-header contact">Connect</div>
        <div class="footer-item" [routerLink]="['/login']">log in / register</div>
        <div class="footer-item" [routerLink]="['/account']">account</div>
        <div class="footer-item">support</div>
    </div>
    <div class="footer-column">
        <div class="footer-header contact">Hosting</div>
        <div class="footer-item" [routerLink]="['/host-with-us']">about this service</div>
        <div class="footer-item" [routerLink]="['/soundlist']">your projects</div>
        <div class="footer-item" [routerLink]="['/contact']">custom sound</div>
    </div>
</div>