.landing-logo {
  display: block;
  margin: auto;
  width: 75%;
  height: 350px;
  background-color: lightgrey;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.showcases {
  background-color: black;
  color: white;
  // height: 350px;
}

.showcase {

}

.showcase-title {
  font-size: 150%;
  text-align: center;
  padding: 1rem 0;
}

.showcase-body {
  text-align: center;
  padding: 2rem 0;
  width: 50%;
  margin: auto;
  
}

.here {
  color: lightblue;
  font-size: 105%;
}
