<div class="landing-logo"></div>
<div class="summaries">
  <div class="summary s1">
    <div class="summary-content-container">
      <div class="summary-header">Sound Design</div>
      <div class="s1-content">Keep your audience locked in with immersive sound design and add another layer to story. With strategies for every kind of project and platform, we have the tools and the knowledge to get you the sound you’ve been looking for.</div>
      <button mat-raised-button class="service-selected get-quote" (click)="contact()">Describe your project and get a quote</button>
    </div>
  </div>
  <div class="summary s2">
    <div class="summary-content-container">
      <div class="summary-header">Dialog / Vocal Editing</div>
      <div class="s2-content">Using the latest software from iZotope and recorded with best-in-class microphones from Sennheiser and Sanken, we specialize in creating foley samples and stems that are indistinguishable from what was recorded on set.</div>
      <div class="button-container">
        <button mat-raised-button class="service-selected">Dialog</button>
        <button mat-raised-button class="service-selected">Vox</button>
      </div>
    </div>
  </div>
  <div class="summary s3">
    <div class="summary-content-container">
      <div class="summary-header">Download Foley and Sound Effects</div>
      <div class="s3-content">Our collection of sounds from projects, field recordings, and happy accidents during sound design is now available to you. There are both free and gold sounds available. <a href="">Sign Up</a> to get discounts on your first purchase.</div>
      <div class="button-container">
        <button mat-raised-button class="service-selected" (click)="goToSoundlist()">Check It Out</button>
        <button mat-raised-button class="service-selected" (click)="signUpOrLogin()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<div class="walter-murch-container">
  <div class="walter-murch-quote">
    "In the same way that painting, or looking at paintings, makes you see the world in a different way, listening to interestingly arranged sounds makes you hear differently."
  </div>
  <div class="walter-murch-credit">
    - Walter Murch
  </div>
  <hr class="walter-murch-divider">
</div>
<app-projects></app-projects>