a {
  color: #00d9e5;
  // text-decoration-color: black;
}

a:hover {
  color: #00aab3;
}

.landing-logo {
  background-color: black;
  height: 350px;
}

.summaries {
  background-image: linear-gradient(0.47turn, #00d0ff, #497aa5, #ff8d00);
}

.summary {
  height: 25rem;
  overflow: auto;
}

.summary-content-container {
  width: 90%;
  height: 21rem;
  box-shadow: 0px 0px 10px -2px black;
  overflow: auto;
  margin: auto;
  margin-top: 42px;
}

.summary-header {
  text-align: center;
  font-size: 285%;
  font-weight: 100;
  color: white;
  margin-top: 2rem;
  user-select: none;
}

.summary-content {
  width: 90%;
  max-width: 800px;
  margin-top: 2rem;
  font-size: 130%;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.6;
  margin-left: 5%;
}

.s1-content {
  width: 90%;
  max-width: 800px;
  font-size: 130%;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: auto;
  margin-top: 3rem;
}

.s2-content {
  width: 90%;
  max-width: 800px;
  margin-top: 2rem;
  font-size: 130%;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: auto;
  margin-top: 2rem;
}

.s3-content {
  width: 90%;
  max-width: 800px;
  margin-top: 2rem;
  font-size: 130%;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: auto;
  margin-top: 2rem;
}

.service-selected {
  background-color:rgb(0, 0, 0);
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1rem;
  display: block;
  margin-top: 39px;
  min-width: 200px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.get-quote {
  margin: auto;
  display: block;
  margin-top: 39px;
}







// -------------------------

.showcases {
  background-color: black;
  color: white;
  // height: 350px;
}

.showcase-top {
  padding-top: 10px;
}

.showcase {
  border: 1px solid rgb(106, 106, 106);
  box-shadow: 0px 0px 10px 1px lightgrey;
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 15px;
}

.showcase-title {
  font-size: 250%;
  text-align: center;
  padding: 1rem 0;
}

.st1 {
  color: #DB0A40;
}
.st2 {
  color: blue;
}
.st3 {
  color: yellow;
}

.showcase-body {
  text-align: center;
  padding: 2rem 0;
  width: 75%;
  margin: auto;

}

.here {
  color: lightblue;
  font-size: 105%;
}

app-projects {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: hidden;
}

.walter-murch-container {
  background-image: linear-gradient(white, black);
}

.walter-murch-quote {
  padding: 3rem;
  font-size: 150%;
  line-height: 2.8;
  width: 366px;
  margin: auto;
  color: #00d0ff;
  animation: murchQuote 10s ease forwards;
}

@keyframes murchQuote {
  0%   { color: #00d0ff }
  100% { color: black; }
}

.walter-murch-credit {
  text-align: center;
  color: #00d0ff;
  font-size: 150%;
  font-style: italic;
  animation: murchCredit 10s ease;
}

@keyframes murchCredit {
  0%   { color: black; }
  100% { color: #00d0ff; }
}

.walter-murch-divider {
  margin: auto;
  width: 50%;
  border-color: #00d0ff;
  margin-top: 6rem;
}