<div class="landing-logo"></div>
<div class="showcases">
  <br><br>

  <div class="showcase showcase-top">
    <div class="showcase-title st1">Sound Design</div>
    <div class="showcase-body">

      Find the tone for your content you've been looking for from our professionally trained sound designers, foley artists, and composers. Transport your audience from their world into yours and keep them locked in with a soundscape that will leave an impression with them for years to come. Contact us any time, day or night, and we'll have someone ready to help you meet your production's deadlines and goals. Additionally, <span class="learn-more">learn more</span> about our online platform where you can live chat, leave notes, and bounce ideas from your team to ours in a safe, encrypted way.
    </div>
  </div>

  <div class="showcase">
    <div class="showcase-title st2">Custom Foley</div>
    <div class="showcase-body">
      Using the latest software from iZotope and recorded with best-in-class microphones from Sennheiser and Sanken, we specialize in creating foley samples and stems that are indistinguishable from what was recorded on set. Look <span class="here">here</span>
    </div>
  </div>

  <div class="showcase">
    <div class="showcase-title st3">Sound Design</div>
    <div class="showcase-body">
      Deliver your audience from their reality and transport them to the mind of your characters, the locations of your scenes, and keep them locked in with enveloping sound design. Make the dreams you have for your production real.
    </div>
  </div>

</div>
