<div class="summaries" id="summaries">
  <div class="summary s1" id="summary">
    <div class="box">
      <div class="summary-header">Post Sound For Film</div>
      <div class="s1-content">
        We specialize in post audio for any kind of media out there. Our portfolio includes sound design for everything from straightforward ads to genre-bending narratives to 12-episode radio plays. Wherever your edit has ended up, we can make it better and keep your audience locked in. Describe your project, get a quote, then get live updates in our state-of-the-art project management platform. With a competitive guaranteed turnaround time, you'll have nothing but satisfaction and confidence in your project while making your deadlines without a problem.
        <!-- Keep your audience locked in with immersive sound design and add another layer to your story. With strategies for every kind of project and platform, we have the tools and knowledge to give you the sound you’ve been looking for.</div> -->
      <button mat-raised-button type="button" class="service-selected get-quote" (click)="contact()">Start Here</button>
    </div>
  </div>
  <div class="summary s2">
    <div class="box">
      <div class="summary-header">Production Sound For Film</div>
      <div class="s2-content">Don't let pops, clicks, and mouth noise ruin the impact of your scene. Most of these kinds of edits can be turned around in less than 48 hours so contact us now if you're in a hurry. Voice actors and vocalists will find services they're looking for here.</div>
      <div class="button-container">
        <button mat-raised-button type="button" class="service-selected" (click)="dialogUpload()">Dialog</button>
        <button mat-raised-button type="button" class="service-selected">Vox</button>
      </div>
    </div>
  </div>
  <div class="summary s3">
    <div class="box">
      <div class="summary-header">Get Quick Edits</div>
      <div class="s3-content">When a client hires us, a project profile is created to provide easy access to  deliverables as they are finished. Have discussions via video or chat, share and keep track of project notes and discussions, and keep track of how much progress is being made in real time. Read more about this service <div class="here-link" id="here" [routerLink]="['/host-with-us']">here</div>. </div>
      <div class="button-container">
        <button mat-raised-button type="button" class="service-selected" (click)="goToSoundlist()">Check It Out</button>
        <button mat-raised-button type="button" class="service-selected" (click)="signUpOrLogin()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<app-projects></app-projects>
<!-- <div class="walter-murch-container">
  <div class="walter-murch-quote">
    "In the same way that painting, or looking at paintings, makes you see the world in a different way, listening to interestingly arranged sounds makes you hear differently."
  </div>
  <div class="walter-murch-credit">
    - Walter Murch
  </div>
</div> -->
<app-footer></app-footer>