.form-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 20px;
}

.form-input {
    display: block;
}

button {
    margin: auto;
    display: block;
}