<div class="login-wrapper">
  <button class="back" mat-raised-button [routerLink]="['']">back</button>

  <div class="login-title">Log In</div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form" enctype="application/x-www-form-urlencoded">
    <mat-form-field class="form-input"><input matInput type="email"    name="username"    formControlName="username"    placeholder="email" ></mat-form-field>
    <mat-form-field class="form-input"><input matInput type="password" name="password" formControlName="password" placeholder="password" ></mat-form-field>
    <button mat-raised-button class="submit">submit</button>
    <br>
  </form>
  <hr class="register-splitter">
  <button mat-raised-button class="register" [routerLink]="['/register']">register</button>
</div>
