<div class="account-container">
    <div class="title">Account</div>
    <div class="account-item-container">
        <div class="account-item pay" (click)="selection('pay')">
            <div class="account-item-title"><img class="money-image" src="../../../assets/img/money.svg" alt=""></div>
            <div class="account-item-subtitle">purchases, payment methods</div>
        </div>
        <div class="account-item message" (click)="selection('message')">
            <div class="account-item-title"><img class="message-image" src="../../../assets/img/message.svg" alt="reee.jpg"></div>
            <div class="account-item-subtitle">messages, notifications</div>
        </div>
        <div class="account-item starred" (click)="selection('starred')">
            <div class="account-item-title"><img class="starred-image" src="../../../assets/img/starred.svg" alt="reee.jpg"></div>
            <div class="account-item-subtitle">starred, favorites</div>
        </div>
        <div class="account-item cart" (click)="selection('cart')">
            <div class="account-item-title"><img class="cart-image" src="../../../assets/img/cart.svg" alt="reee.jpg"></div>
            <div class="account-item-subtitle">cart, wishlist</div>
        </div>
    </div>
    <div class="selection-title">
        <div *ngIf="paySelected">Payment</div>
        <div *ngIf="messageSelected">Message</div>
        <div *ngIf="starredSelected">Starred</div>
        <div *ngIf="cartSelected">Cart</div>
    </div>
    <hr style="border-color: #00d0ff; width: 10%;">
    
    <div *ngIf="paySelected">
        PAY 
        <table class="payment-table">
            <thead>
                <th>Order Number</th>
                <th>Contents</th>
                <th>Date</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of user.invoices">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="messageSelected">
        <table class="payment-table">
            <thead>
                <th>Date</th>
                <th>From</th>
                <th>Message</th>
            </thead>
            <tbody>
                <tr *ngFor="let message of user.messages">
                    <td *ngIf="!user.messages.length">You have 0 messages my guy.</td>
                    <!-- <td>{{message.createdAt}}</td>
                    <td>{{message.sender}}</td>
                    <td>{{message.content}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="starredSelected">
        <table class="payment-table">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th class="length">Length</th>
                <th>Type</th>
                <th>Purchased</th>
                <th class="price">Price</th>
            </thead>
            <tbody>
                <tr *ngFor="let sound of starredSounds">
                    <td>{{sound.title}}</td>
                    <td>{{sound.description}}</td>
                    <td class="length">{{sound.length}}</td>
                    <td>.wav</td>
                    <td>{{sound.purchased}}</td>
                    <td class="price">${{sound.price}}.00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cartSelected">CART
        <table class="payment-table">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th class="length">Length</th>
                <th>Type</th>
                <th>Purchased</th>
                <th class="price">Price</th>
            </thead>
            <tbody>
                <tr *ngFor="let sound of cartSounds">
                    <td>{{sound.title}}</td>
                    <td>{{sound.description}}</td>
                    <td class="length">{{sound.length}}</td>
                    <td>.wav</td>
                    <td>{{sound.purchased}}</td>
                    <td class="price">${{sound.price}}.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>