.account-container {
    background-color: black;
    height: 100vh;
    color: #03cffe;
    overflow: auto;
}

.title {
    padding: 3rem;
    font-size: 250%;
    border-right: 1px solid rgba(255, 255, 255, 0.274);
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
    width: 132px;
    margin-left: 20px;
    margin-top: 5rem;
}

.account-item-container {
    display: flex;
    justify-content: space-around;
}

// 868px width change account-item-container display shit

.account-item {
    transition-property: color, background-color;
    transition-duration: .7s;
    transition-timing-function: ease;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 5px;
    color: lightgrey;
    background-color:rgba(0, 0, 255, 0);
    width: 232px;
    height: 100px;
    margin: 1rem;
    user-select: none;
    display: inline-block;
}

.account-item-subtitle {
    font-style: italic;
    padding-top: 15px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.selection-title {
    text-align: center;
    font-size: 300%;
    letter-spacing: 5px;
    padding: 1rem;
    font-weight: 100;
}

// --- table settings ---

table {
}

thead {
    border-bottom: 1px solid black;
}

tr {
    box-shadow: 0px 12px 8px -10px #5a5a5a;
}

.length {
    width: 50px;
}

.price {
    width: 40px;
    text-align: center;
    padding-right: 10px;
    padding-left: 3px;
}

.type {
    width: 20px;
    padding-left: 5px;
}

thead {
    border-bottom: 1px solid black;
}

th, td {
    // border: 1px solid green;
    overflow: hidden;
}

td {
    border-left: 1px solid #b7b7b7;
    height: 2rem !important;
    padding-left: 15px;
}

th {
    box-shadow: 0px 0px 10px -10px black;
}

// --- pay ---

.pay:hover {
    background-color: rgba(0, 128, 0, 0.555);    
}

.money-image {
    width: 55px;
    margin-top: 5px;
    height: 50px;
}

.payment-table {
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: lightgrey;
    width: 80%;
    max-width: 800px;
    color: black;
    margin: auto;
    margin-top: 3rem;
}

// --- message --- 

.message:hover {
    background-color: white;
    color: #484b4c;
}

.message:focus {
    background-color: white;
    color: #484b4c;
}

.message-image {
    width: 48px;
    margin-top: 12px;
    height: 43px;
}

// --- starred --- 

.starred:hover {
    background-color: #00d0ff;
    color: black;
}

.starred-image {
    width: 55px;
}

// --- cart --- 

.cart:hover {
    background-color: white;
    color: black;
}

.cart-image {
    width: 55px;
}

.wishlist {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 8px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px 0px #00d0ff;
}

.remove {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 8px;
    margin-bottom: 5px;
    margin-top: 3px;
    box-shadow: 0px 0px 5px 0px red;
}

.checkout-now {
    padding: 3rem 0;
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
    box-shadow: 0px 0px 36px -11px #03cffe;
}

.cart-total {
    padding: 1rem;
    display: inline-block;
    font-size: 200%;
}

.checkout-button {
    display: inline-block;
    background-color: #03cffe;
    font-size: 150%;
    font-weight: 100;
}