@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes slideFromLeftSmall {
  0%   { margin-left: 0px; }
  100% { margin-left: 15px; }
}

@keyframes slideFromLeftMedium {
  0%   { margin-left: 0px; }
  100% { margin-left: 30px; }
}

@keyframes slideFromLeftLarge {
  0%   { margin-left: 0px; }
  100% { margin-left: 45px; }
}

@keyframes expandButton {
  0%    { font-size: 0;    width: 0;     height: 0;    }
  100%  { font-size: 100%; width: 100px; height: 30px; }
}

@keyframes letterSpacingReveal1 {
  0%   { letter-spacing: -12px; opacity: 0;}
  100% { letter-spacing: 1px;   opacity: 1;}
}

@keyframes letterSpacingReveal2 {
  0%   { opacity: 0; transform: translate(0px, 0px);}
  100% { opacity: 1; transform: translate(100px, 100px);}
}

@keyframes letterSpacingRevealMobile {
  0%   { letter-spacing: -4px; opacity: 0;}
  100% { letter-spacing: 1px;   opacity: 1;}
}

// @keyframes {
//   0%   {  }
//   100% {  }
// }
