<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<div style="background-color: black;">
<button *ngIf="admin" mat-raised-button [routerLink]="['/add']" class="add-a-sound">Add A Sound</button>
<div class="sound-list-container">
  <div class="sound-list-title">Compliment your content and shape your sound with professionally recorded and edited foley, effects, and ambiences.</div>
  <br>
  <div class="sound-list" *ngIf="soundsWereFound">
    <div class="search-bar-container">
      <form [formGroup]="searchByNameForm"    (onSubmit)="searchByName()" autocomplete="off"><mat-form-field><input matInput type="text" id="name-search-input" formControlName="query" placeholder="Search by name"></mat-form-field></form>
    </div>
    <br><br>
    <div class="sounds-container" *ngIf="showFullSoundList">
      <div class="sound" *ngFor="let sound of soundList">
        <div class="sound-left-right-container">
          <div class="sound-left">
            <!-- sound title needs a LIMIT of 15 characters -->
            <div class="sound-title">{{ sound.title }}</div>
              <div class="sound-description">{{ sound.description.substr(0, 90) }}</div>
              <div  class="sound-keywords">
                <div style="display: inline;" *ngFor="let keyword of sound.keywords">
                  <div class="keyword-container">
                    {{ keyword }}
                  </div>
                </div>
              </div>
          </div>
          <div class="sound-right">
            <button mat-raised-button class="star-button button-shit">star</button>
            <button mat-raised-button class="add-button  button-shit">play</button>
            <button mat-raised-button class="play-button button-shit">add</button>
            <button mat-raised-button class="info-button button-shit">info</button>
          </div>
        </div>
      </div>
    </div>
    <div class="sounds-container" *ngIf="showFilteredSoundList">
      <div class="sound" *ngFor="let sound of newSoundList">
        <div class="sound-left-right-container">
          <div class="sound-left">
            <div class="sound-title">{{ sound.title }}</div>
            <div class="sound-description">{{ sound.description }}</div>
            <div  class="sound-keywords">
              <div *ngFor="let keyword of sound.keywords">
                {{ keyword }}a
              </div>
            </div>
          </div>
          <div class="sound-right">
            <button mat-raised-button class="star-button button-shit">*</button>
            <button mat-raised-button class="add-button  button-shit">+</button>
            <button mat-raised-button class="play-button button-shit">></button>
            <button mat-raised-button class="info-button button-shit">i</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div><!-- keep this one -->

<div class="bullshit-parent">
  <div class="bullshit-child"></div>
</div>

<br><br>

<div class="bullshit-parent">
  <div class="bullshit-child"></div>
  <div class="bullshit-child"></div>
  <div class="bullshit-child"></div>
</div>

<br><br><br><br><br><br><br>

</div><!-- keep this one -->
