button {
  margin: 1rem;
}

.sound-list-title {
  font-size: 200%;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 1rem;
  margin: auto;
  display: block;
  width: 40%;
  max-width: 400px;
}
