.add-a-sound {
  margin: 1rem;
}

a {
  color: #00d0ff;
}

a:hover {
  color: #00aab3;
}

.search-bar-container {
  border: 1px solid #424242;
  box-shadow: 0px 0px 25px -5px #ffffff;
  display: block;
  margin: auto;
  width: 60%;
  background-color: #00d0ff;
}

.one-dollar {
  font-size: 125%;
  color: rgb(224, 19, 255);
  margin-left: 10px;
}

.button-shit {
  font-size: 93%;
  height: 33px;
  width: 55px !important;
  min-width: 10px !important;
  background-color: #00d0ff;
  color: white;
}

mat-form-field {
  width: 93%;
  padding: 1rem;
  // max-width: 400px;
}

@media(max-width:600px) {
  mat-form-field {
    width: 89%;
  }
}

.mat-form-field-label {
  color: white !important;
}

.mat-form-field-appearance-legacy {
  color: white !important;
}

.submit-button {
margin-left: 15px;
}

.sound-list-title {
  font-size: 150%;
  font-weight: 100;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 3rem 1rem 1rem 1rem;
  margin: auto;
  display: block;
  width: 60%;
  max-width: 800px;
  letter-spacing: 2px;
  line-height: 1.6;
}

.sounds-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  max-width: 900px;
  margin: auto;
}

.starred {
  color: gold;
}

.inCart {
  color: black;
}


// sound box -----------------

.sound {
  border: 1px solid #212121;
  display: inline-block;
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  width: 15rem;
  height: 120px;
  font-family: 'Montserrat', sans-serif;
  transition: box-shadow .3s ease;
  position: relative;
  box-shadow: 0px 0px 18px -4px #4ac3ff;
}

.sound::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0px 30px -5px #7fecf2;
  opacity: 0;
  transition: opacity 500ms;
  border-radius: 10px;
}

.sound:hover::before {
  opacity: 1;
}

.sound-title {
  // padding: 10px;
  font-size: 150%;
  border-bottom: 1px solid lightgrey;
}


.sound-description {
  font-size: 80%;
}

.sound-keywords {
  font-size: 80%;

}

.sound-left-right-container {
  display: flex;
  justify-content: space-between;
}

.keyword-container {
  border: 1px solid #00dae5dd;
  border-radius: 5px;
  width: fit-content;
  display: inline;
  padding: 3px;
  margin-left: 1px;
  overflow-y: scroll;
}

.sound-left {
  width: 80%;
}


.sound-right {
  width: 20%;
  margin-top: -7px;
}

.star-button {
  border-top-right-radius: 8px !important;
}

.add-button {
  border-top: 1px solid #357388;
}

.play-button {
  border-top: 1px solid #357388;
}

.info-button {
  border-bottom-right-radius: 8px !important;
  height: 35px;
    border-top: 1px solid #357388;
}

// --------------------------

// mat-raised-button overrides ----------

.mat-raised-button {
  border-radius: 0px;
}
