@import '../../scss/keyframes.scss';
.title {
  font-size: 200%;
  text-align: center;
  padding: 2rem;
}

.add-form {
  padding: 1rem;
  border: 1px solid lightgrey;
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.form-input {
  display: block;
  margin: auto;
}

button {
  margin-top: 3rem;
  margin-left: 1rem;
  display: inline;
}

.submit {
  color: white;
  background-color: rgb(83, 83, 83);
}

.input {
  display: none;
}

.sound-uploaded-notifier {
  display: inline;
  color: white;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 12px;
  animation: expandButton 1s ease ;
}

.lil-container {
  margin: auto;
  display: block;
  width: 50px;
}