@import '../../scss/keyframes.scss';
@import '../../scss/wfa.scss';

.navbar {
  // padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  background-color: black;
  color: #00d0ff;
  height: 3rem;
  font-family: 'Anton', sans-serif;
  padding: 1rem;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.logo{
  text-align: center;
  font-size: 200%;
  line-height: 1.6;
  letter-spacing: -12px;
  animation: letterSpacingReveal 4s ease forwards;
  margin-left: 8px;
}

.options {
  color: white;
  margin-right: 30px;
}

.option {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  opacity: 0;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color .6s ease, color .6s ease;
  user-select: none;
  height: 30px;
  width: 75px;
  vertical-align: top;
  outline: none;
}

.option:hover {
  color: black;
  background-color: white;
}

.option-text {
  padding: 6px;
}

.logged-in {
  // text-decoration: underline;
  // text-decoration-color: rgb(0, 217, 229);
  border-bottom: #00d0ff;
}

.o1 {
  animation: fadeIn ease .8s forwards;
}

.o2 {
  animation: fadeIn ease .8s forwards;
}

.o3 {
  animation: fadeIn ease .8s forwards;
}

.o4 {
  animation: fadeIn ease .8s forwards;
}

@media (max-width: 500px) {
  .options {
    margin-right: 0px;
  }
  .logo {
    font-size: 100%;
    text-align: unset;
    animation: letterSpacingRevealMobile 1s ease forwards;
  }
  .option {
    margin-left: 3px;
    width: unset;
  }
  .navbar-left {
    float: none;
  }
  .navbar-right {
    float: none;
  }
  .o1 {
    animation: fadeIn .5s ease .7s forwards;
  }

  .o2 {
    animation: fadeIn .9s ease .7s forwards;
  }

  .o3 {
    animation: fadeIn 1.3s ease .7s forwards;
  }

  .o4 {
    animation: fadeIn 1.7s ease .7s forwards;
  }
}
