<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<div class="navbar">
  <div class="navbar-left">
    <div class="logo">Waveform Arts</div>
  </div>
  <div class="navbar-right">
    <div class="options">
      <div class="option o1" [routerLink]="['']">
        <div class="option-text">Home</div>
      </div>
      <div class="option o2" [routerLink]="['soundlist']">
        <div class="option-text">Sounds</div>
      </div>
      <div class="option o3" [routerLink]="['about']">
        <div class="option-text">About Us</div>
      </div>
      <div class="option o4" [routerLink]="['contact']">
        <div class="option-text">Log In</div>
      </div>
      <div class="option o1" [routerLink]="['contact']">
        <div class="option-text">Contact</div>
      </div>
    </div>
  </div>
</div>
