<div class="projects-container">
    <!-- <div class="projects-header">Our Work</div> -->

    <div class="projects">
        <div class="project">
            <div class="project-title">Drama Reel</div>
            <iframe id="video" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
            <div class="project-description">Keep your audience locked in by controlling noise and crafting ambience through powerful sound design. Make sure the performances are the only focus.</div>
        </div>
        <div id="hr1" class="hr"></div>
        <div class="project">
            <div class="project-title">Thriller Reel</div>
            <iframe id="video" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
            <div class="project-description">Thrillers give sound designers an interesting opportunity to get extra creative. Go the extra mile to shock and surprise your audience. </div>
        </div>
        <div id="hr2" class="hr"></div>
        <div class="project">
            <div class="project-title">Commercial Reel</div>
            <iframe id="video" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
            <div class="project-description">Give energy to your ad! See how enhanced your visuals become with music and sound design. Our simple goal: keep people from hitting skip. </div>
        </div>
        <div id="hr3" class="hr"></div>
    </div>
</div>