<div class="projects-container">
    <div class="projects-header">Our Work</div>

    <div class="projects">
        <div class="project">
            <div class="project-title">Drama Reel</div>
            <iframe id="video" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
            <div class="project-description">In quiet, dramatic scenes, keeping your audience undistracted is absolutely imperative. Keep them locked in with discreet, consistent sound design.</div>
        </div>
        <div class="project">
            <div class="project-title">Thriller Reel</div>
            <iframe id="video" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
        <div class="project-description">Thrillers give sound designers an interesting opportunity to get extra creative. Go the extra mile to shock them and sell your reveal. </div>
        </div>
        <div class="project">
            <div class="project-title">Commercial Reel</div>
            <iframe id="video" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
       <!-- <div class="project-description">In quiet, dramatic scenes, keeping your audience undistracted is absolutely imperative. Keep them locked in with discreetly consistent sound design.</div> -->
            <div class="project-description">Give energy to your ad! See how enhanced your visuals become with music and sound design. Our goal, simply: keep people from hitting skip. </div>
   
        </div>
    </div>
</div>