.projects-container {
    padding-top: 40px;
    vertical-align: top;
    padding-bottom: 1px;
    background-image: linear-gradient(45deg, 
                                    rgb(80, 80, 80), 
                                      transparent);
}

.projects-header {
    text-align: center;
    color: #00d0ff;
    font-size: 250%;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.projects {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project {
    border-radius: 5px;
    width: 75%;
    max-width: 700px;
    margin: auto;
}

.project-title {
    font-size: 250%;
    padding: 1rem 3rem;
    margin-top: 55px;
    margin-bottom: 37px;
    font-weight: 300;
}

.project-description {
    font-size: 150%;
    padding: 1rem 5rem;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 1px;
    margin-top: 1rem;
}

#video {
    border: 1px solid lightgrey;
}

@media (min-width: 881px) {
    #video {
        height: 289px;
        width: 500px;
        margin: auto;
        display: block;
    }
}

@media (max-width: 880px) {
    #video {
        height: 289px;
        width: 500px;
        margin: auto;
        display: block;
    }
}

@media (max-width: 500px) {
    #video {
        height: 231px;
        width: 400px;
        margin: auto;
        display: block;
    }
}

@media (max-width: 320px) {
    #video {
        height: 185px;
        width: 320px;
        margin: auto;
        display: block;
    }
}

@media(max-width: 675px) {
    #video {
        height: 185px;
        width: 320px;
        margin: auto;
        display: block;
    }
}

@media(min-width: 950px) {
    #video {
        height: 462px;
        width: 800px;
        margin: auto;
        display: block;
    }
}

.hr {
    background-color: #03cffe;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    height: 1px;
    transition: height 2s ease;
}

.hr-effect {
    height: 25px;
    transition: height 2s ease;
}